.delius-swash-caps-regular {
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: black;
  overflow-x: hidden;
}
:root {
  --primary-color: #b5abab;
}
.header-ul li:nth-child(3):hover .header-nested-ul {
  opacity: 1;

  visibility: visible;
  transform: translateY(0%);
}
.header-ul {
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.2s;
}

.header-nested-ul {
  background-color: rgb(81, 73, 73);
  top: 40px;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20%);
  z-index: 11;
}
.header-nested-ul-items:hover {
  color: white !important;
}
.header-nested-ul-items {
  transition: all 0.5s;
  z-index: 11;
}
.header-deep-nested-ul {
  background-color: rgb(81, 73, 73);
  transform: translate(0%, -2%);
  transition: all 0.7s;
  opacity: 0;
  visibility: hidden;
  z-index: 11;
}
.header-nested-ul li:nth-child(7):hover .header-deep-nested-ul {
  opacity: 1;
  visibility: visible;
  transform: translate(-110%, -2%);
}
/* Main Home Page */
main {
  height: 20vh;
}
.menu-btn {
  display: none;
}
/* Header Front */
.header-front {
  height: 50vh;
}
.homecompnent-btn {
  background-color: #27a776;
  transition: all 0.2s;
}
.homecompnent-btn:hover {
  background-color: #1f9266;
}
.header-front h1 {
  font-family: cardinal;
  font-size: 2.7rem;
}
.typing-animation {
  font-family: "Delius Swash Caps", cursive !important;
}

.header-front h1 span::before {
  content: "";
  background-color: #1f9266;
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50%;
  z-index: -1;
}
.header-front h1 span {
  position: relative;
}
.header-front h1 {
  z-index: -22 !important;
}
.hp-child {
  background-color: rgba(63, 59, 59, 0.5);
  width: 100% !important;
  height: 100% !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.2ss;
  overflow: hidden !important;
}
.hp-parent:hover .hp-child {
  z-index: 11;
  opacity: 1;
}
.hp-child {
  transition: all 0.4s;
}

.hp-img {
  transition: all 0.5s;
}
.hp-parent:hover .hp-img {
  scale: 1.1;
}
.hp-parent {
  overflow: hidden !important;
}
.hp-child-icons {
  transform: translateY(120px) !important;
  transition: all 0.3s;
}
.hp-parent:hover .hp-child-icons {
  transform: translateY(0px) !important;
}

/* Home - pictures */

/*Media Query */
@media only screen and (max-width: 768px) {
  main {
    height: 10vh;
    font-size: 10px;
  }

  .header-ul {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    flex-direction: column !important;
    justify-content: center !important;
    gap: 100px !important;
    display: none !important;
    transition: all 0.7s ease-in-out !important;
  }
  .menu {
    display: flex !important;
    transition: all 0.7s;
  }
  .header-nested-ul li:nth-child(7):hover .header-deep-nested-ul {
    transform: translate(-110%, -90%);
  }
  .header-ul li:nth-child(3):hover .header-nested-ul {
    transform: translateX(14%);
  }
  .header-nested-ul-items {
    font-size: 15px !important;
  }
  .icons {
    z-index: 1;
    margin-top: -80px;
  }
  .parent-header-ul {
    background-color: red !important;
  }
  .menu-btn {
    display: block;
  }
  .header-front h1 {
    font-size: 1.8em;
    width: 100% !important;
  }
  .header-front p {
    font-size: 15px;
    width: 75% !important;
  }
  .homecompnent-btn {
    font-size: 14px;
    padding: 6px 15px 6px 15px !important;
  }
}
